#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_CONFIGURE_EXTRA_FLAGS := "--disable-update-mimedb"
DEB_INSTALL_MANPAGES_gparted := debian/gparted.1


cleanbuilddir::
	rm -f $(CURDIR)/config.*.cdbs-orig
	rm -f debian/gparted.1

makebuilddir:: 
	/usr/bin/docbook-to-man debian/gparted.sgml > debian/gparted.1
	if [ `lsb_release -is` = 'Debian' ]; then \
		sed 's/gksudo/gksu/g' $(DEB_SRCDIR)/gparted.desktop.in > $(DEB_SRCDIR)/gparted.desktop.in.in; \
		mv $(DEB_SRCDIR)/gparted.desktop.in.in $(DEB_SRCDIR)/gparted.desktop.in; \
	fi


build/gparted::
	mkdir -p debian/gparted/usr/share/pixmaps
	uudecode -o debian/gparted/usr/share/pixmaps/gparted.png < debian/gparted.png.uuencoded

