[GdmGreeterTheme]
Greeter=Guadalinex.xml
Name=Guadalinex
Description=Guadalinex Default Welcome Theme
Author=Jeff Waugh, Mark Shuttleworth, Gabriel Rodriguez
Copyright=(c) 2004 Canonical Ltd., (c) 2005 Junta de Andalucia
Screenshot=screenshot.png
