[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Scribus
Name[es]=Maquetación de documentos (Scribus)
GenericName=Document Layout Software
Comment=Desktop Publishing
Comment[es]=Maquete documentos
Icon=/usr/share/pixmaps/scribus-3d.xpm
FilePattern=scribus
TryExec=scribus
Exec=scribus %f
Terminal=false
SwallowTitle=Scribus
MimeType=application/x-scribus
Categories=Application;Office;
StartupWMClass=scribus
