Source: hermeshardware
Section: utils
Priority: optional
Maintainer: Gumersindo Coronel Pérez <gcoronel@emergya.info>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: hermeshardware
Architecture: any
Depends: hal, dbus, python2.4-dbus, python, python2.4, notification-daemon, libsane, grepmap, ${shlibs:Depends}, ${misc:Depends}
Description: detección y soporte de dispositivos
 el sistema de detección de hardware engloba tanto las tareas de detección
 y soporte de dispositivos, como aquellas que tienen que ver con la 
 configuración de los mismos y la interacción con el usuario.
