[Desktop Entry]
Encoding=UTF-8
Categories=Java;Application;Network;FileTransfer;P2P
Comment=peer-to-peer file distribution tool
Commen[es]=Comparta ficheros con el mundo
exec=azureus %U
GenericName=BitTorrent client
Icon=Azureus
MimeType=application/x-bittorrent
Name=Azureus
Name[es]=Cliente de BitTorrent (Azureus)
Type=Application
