#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE=partman

DIRS=partconf-1.09ubuntu1/debian/partconf \
	partconf-1.09ubuntu1/debian/partconf-find-partitions \
	partconf-1.09ubuntu1/debian/partconf-mkfstab \
	partman-68ubuntu1/debian/partman \
	partman-auto-41ubuntu3/debian/partman-auto \
	partman-basicfilesystems-39ubuntu2/debian/partman-basicfilesystems \
	partman-basicmethods-26ubuntu1/debian/partman-basicmethods \
	partman-ext3-37ubuntu1/debian/partman-ext3 \
	partman-newworld-11ubuntu1/debian/partman-newworld \
	partman-partitioning-34ubuntu1/debian/partman-partitioning \
	partman-target-36ubuntu2/debian/partman-target

build:
	-$(MAKE)

clean:
	dh_testdir
	dh_testroot

	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	mkdir -p $(CURDIR)/debian/$(PACKAGE)
	for dir in $(DIRS); do cp -rf $$dir/. $(CURDIR)/debian/$(PACKAGE)/; done
	rm -rf $(CURDIR)/debian/$(PACKAGE)/DEBIAN/

	#dh_install autopartition bin
	#dh_install perform_recipe bin
	#dh_install recipes.sh lib/partman
	#debian/install-rc recipes
	#debian/install-rc recipes-powerpc-powermac_newworld
	#debian/install-rc choose_partition
	#debian/install-rc free_space
	#debian/install-rc automatically_partition
	#debian/install-rc auto.d
	rm -rf `find debian/$(PACKAGE) -name CVS`
	rm -rf `find debian/$(PACKAGE) -name .svn`

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf -n
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
