#!/usr/bin/make -f

export DEB_DH_ALWAYS_EXCLUDE=".svn"

include /usr/share/cdbs/1/rules/debhelper.mk

pre-build::
	chmod +x hooks/*
	for x in `find live_scripts/ -maxdepth 1 -type d | tail -n+2`; do \
	  chmod -R +x $$x; \
	done
