Source: accessrunner-usb
Section: misc
Priority: optional
Maintainer: Vicente J. Ruiz Jurado <vjrj@tid.es>
Build-Depends: debhelper (>= 4.1.0), bzip2, docbook-to-man
Standards-Version: 3.6.2

Package: accessrunner-usb-utils
Architecture: any
Recommends: accessrunner-usb-source, br2684ctl, atm-tools, hotplug, ppp, pppoe, ifupdown
Depends: ${shlibs:Depends}
Description: This package provide some tools for help in the configuration of 
 the accessrunner-usb driver. The accessrunner-usb driver provides support to 
 several USB DSL devices for the Linux kernel.
 .
 This package contains utilities needed to configure the accessrunner-usb 
 drivers.

Package: accessrunner-usb-source
Architecture: all
Depends: module-assistant, bzip2, debhelper (>= 4.0.0)
Suggests: accessrunner-usb-utils
Description: Source for the accessrunner-usb driver. The accessrunner-usb 
 driver provides support to several USB DSL devices for the Linux kernel.
 .
 This package contains the module source. The kernel driver can be built from
 it using module-assistant or make-kpkg.
