[Desktop Entry]
Encoding=UTF-8

Name=Editor de audio (Audacity)
GenericName=Editor de audio
Comment=Grabe y edite sonidos
Icon=/usr/share/audacity/audacity.xpm

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=audacity
Terminal=false
MimeType=application/ogg;audio/basic;audio/mpeg;audio/x-aiff;audio/x-mp3;audio/x-wav;
