[Desktop Entry]
Name=Grip
Name[ca]=Grip
Name[es]=Extractor de audio (Grip)
Name[de]=Grip
Name[fi]=Grip
Comment=CD player/ripper
Comment[ca]=Reproductor/extractor de CD d'audio
Comment[es]=Reproductor/extractor de CDs de audio
Comment[de]=Audio-CDs rippen und MP3s/OGGs kodieren
Comment[fr]=Lecteur/extracteur de CD audio
Comment[fi]=CD-audion soitto- ja kopiointiohjelma
Exec=grip
Icon=gripicon.png
Type=Application
Categories=Application;AudioVideo;
