[Desktop Entry]
Name=Cliente P2P (aMule)
Comment=aMule
Comment[es]=Comparta ficheros con el mundo
Exec=amule
Icon=amule.xpm
Terminal=false
Type=Application
Categories=Application;Network;
