[Desktop Entry]
Name=iPodder
Name[es]=Agregador de podcasts (iPodder)
Comment=Media Agregator
Exec=ipodder
Icon=/usr/share/ipodder/icons_status/application.ico
Miniicon=/usr/share/ipodder/icons_status/application.ico
GenericName=Media Agregator
GenericName[pt_BR]=Agregador de midia
Terminal=false
Type=Application
Categories=Application;Network;
