[Desktop Entry]
Encoding=UTF-8
Name=QCaD
Name[es]=Sistema CAD (QCaD)
Comment=A professional CAD System
Comment[en_CA]=A professional CAD System
Comment[en_GB]=A professional CAD System
Comment[es]=Sistema de diseño CAD profesional
Exec=qcad %U
Icon=/usr/share/pixmaps/qcad.xpm
Terminal=false
Type=Application
Categories=Application;Graphics;
StartupNotify=false
