Source: uda-docs
Section: unknown
Priority: optional
Maintainer: roberto <roberto@molinux.info>
Build-Depends: debhelper (>= 4.0.0), dpatch
Standards-Version: 3.6.1

Package: uda-docs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uda-docs-molinux-branding | uda-docs-guadalinex-branding
Description: uda-docs 
 uda-docs

Package: uda-docs-molinux-branding
Architecture: any
Description: uda-docs-molinux-branding
 uda-docs-molinux-branding

Package: uda-docs-guadalinex-branding
Architecture: any
Description: uda-docs-guadalinex-branding
 uda-docs-guadalinex-branding
