[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Network config assistant
Name[es]=Asistente para configuración de la red
Comment=Configure your network to connect to Internet
Comment[es]=Configure su red para conectarse a Internet
Exec=gksudo "/usr/bin/network-admin --configure=eth0"
Icon=/usr/share/pixmaps/netapplet.png
Terminal=false
Type=Application
Categories=Application;Network;
