[Desktop Entry]
Encoding=UTF-8
Name=GnomeMeeting
Name[ar]=جينوم ميتنج
Name[az]=GnomeMeeting
Name[be]=Нарада для Gnome
Name[bg]=GnomeMeeting
Name[bn]=গুহ্‌নোম-মিটিং
Name[bs]=GnomeMeeting
Name[ca]=GnomeMeeting
Name[cs]=GnomeMeeting
Name[cy]=GnomeMeeting
Name[da]=GnomeMeeting
Name[de]=GnomeMeeting
Name[el]=GnomeMeeting
Name[en_CA]=GnomeMeeting
Name[en_GB]=GnomeMeeting
Name[es]=Cliente de videoconferencias (GnomeMeeting)
Name[eu]=GnomeMeeting
Name[fi]=GnomeMeeting
Name[fr]=GnomeMeeting
Name[ga]=GnomeMeeting
Name[gl]=GnomeMeeting
Name[gu]=જીનોમમંત્રણા
Name[he]=‏GnomeMeeting
Name[hi]=गनोममीटिंग
Name[hr]=Gnome Meeting
Name[hu]=GnomeMeeting
Name[id]=GnomeMeeting
Name[is]=GnomeMeeting
Name[it]=GnomeMeeting
Name[ja]=GnomeMeeting
Name[ko]=그놈 미팅
Name[lt]=GnomeMeeting
Name[lv]=GnomeMeeting
Name[mk]=GnomeMeeting
Name[mn]=Гномеуулзалт
Name[mr]=जीनोम सत्र
Name[ms]=GnomeMeeting
Name[nb]=Gnomemeeting
Name[ne]=जी नोममिटिङ्ग
Name[nl]=GnomeMeeting
Name[no]=Gnomemeeting
Name[pa]=ਗਨੋਮ-ਮੀਟਿੰਗ
Name[pl]=GnomeMeeting
Name[pt]=GnomeMeeting
Name[pt_BR]=GnomeMeeting
Name[ro]=GnomeMeeting
Name[ru]=GnomeMeeting
Name[sk]=GnomeMeeting
Name[sq]=GnomeMeeting
Name[sr]=Гном састанак
Name[sr@Latn]=Gnom sastanak
Name[sv]=GnomeMeeting
Name[ta]=க்னோம் மாநாடு
Name[th]=GnomeMeeting
Name[tr]=GnomeMeeting
Name[uk]=GnomeMeeting
Name[vi]=GnomeMeeting
Name[wa]=GnomeMeeting
Name[xh]=I-GnomeMeeting
Name[zh_CN]=GnomeMeeting
Name[zh_TW]=GnomeMeeting
TryExec=gnomemeeting
GenericName=Videoconferencing
GenericName[ar]=اللقاءات المرئية
GenericName[az]=Video İclas
GenericName[bg]=Видеоконференция
GenericName[bs]=Video savjetovanje
GenericName[ca]=Videoconferència
GenericName[cs]=Videokonference
GenericName[cy]=Cynadledda fideo
GenericName[da]=Videokonference
GenericName[de]=Videokonferenz
GenericName[el]=Τηλεδιάσκεψη
GenericName[en_CA]=Videoconferencing
GenericName[en_GB]=Videoconferencing
GenericName[es]=Videoconferencia
GenericName[eu]=Bideo-konferentzia
GenericName[fi]=Videoneuvottelu
GenericName[fr]=Vidéoconférence
GenericName[gl]=Videoconferencia
GenericName[gu]=વિડિયો પરિષદ
GenericName[he]=שיחת ועידה בוידאו
GenericName[hi]=वीडियो-कॉन्फ्रेंसिंग
GenericName[hr]=Video savjetovanje
GenericName[hu]=Videokonferencia
GenericName[id]=Konferensi video
GenericName[it]=Videoconferenza
GenericName[ja]=ビデオ会議
GenericName[ko]=화상 회의
GenericName[lt]=Vaizdo konferencijos
GenericName[mk]=Видео конференција
GenericName[mn]=Видео Чуулган
GenericName[ms]=Sidang Video
GenericName[nb]=Videokonferanse
GenericName[ne]=भिडियोसम्मेलन
GenericName[nl]=Videoconferentie
GenericName[no]=Videokonferanse
GenericName[pa]=ਵੀਡੀਓ-ਕਾਨਫਰੰਸ
GenericName[pl]=Konferencje wizyjne
GenericName[pt]=Vídeo Conferência
GenericName[pt_BR]=Vídeo conferência
GenericName[ro]=Videoconferinţă
GenericName[ru]=Видеоконференции
GenericName[sq]=Videokonferencë
GenericName[sr]=Видео конференција
GenericName[sr@Latn]=Video konferencija
GenericName[sv]=Videokonferens
GenericName[ta]=ஒளித்தோற்ற  மாநாடு
GenericName[th]=การประชุมผ่านวีดิทัศน์
GenericName[tr]=Video Konferansı
GenericName[uk]=Відеоконференції
GenericName[vi]=Hội thoại ảnh động
GenericName[xh]=Kubanjwa inkomfa ngevidiyo
GenericName[zh_CN]=视频会议中
GenericName[zh_TW]=視訊會議
Comment=Talk to people over the Internet
Comment[ar]=تحدث مع العالم عبر الإنترنت
Comment[az]=İnternet üstündən insanlarla rabitə qurun
Comment[bg]=Говорене с хора по интернет
Comment[bs]=Razgovarajte s ljudima preko Interneta
Comment[ca]=Parleu amb gent arreu d'Internet
Comment[cs]=Hovořit s lidmi přes Internet
Comment[cy]=Siarad â phobl dros y Rhyngrwyd
Comment[da]=Tal med andre over internettet
Comment[de]=Über das Internet mit Leuten sprechen
Comment[el]=Μιλήστε σε ανθρώπους μέσω του διαδικτύου
Comment[en_CA]=Talk to people over the Internet
Comment[en_GB]=Talk to people over the Internet
Comment[es]=Hable con otras personas a través de Internet
Comment[eu]=Hitz egin jendearekin Internetez
Comment[fi]=Puhu ihmisten kanssa Internetin kautta
Comment[fr]=Communiquer à travers l'Internet
Comment[gl]=Falar con xente a través de Internet
Comment[gu]=ઇન્ટરનેટ પર લોકો સાથે વાત કરો
Comment[he]=דבר/י עם אנשים ברחבי האינטרנט
Comment[hi]=इंटरनेट पर लोगों से बात
Comment[hr]=Razgovarajte s ljudima preko Interneta
Comment[hu]=Csevegés másokkal az interneten keresztül
Comment[id]=Bicara dengan orang di Internet
Comment[is]=Tala við fólk yfir Internetið
Comment[it]=Comunicare con le persone su internet
Comment[ja]=インターネットを介して会話します
Comment[ko]=인터넷을 통해 사람들과 얘기합니다
Comment[lt]=Kalbėkitės su kitais žmonėmis per Internetą
Comment[mk]=Зборувајте со луѓе преку Интернет
Comment[mn]=Интернэтээр хүмүүстэй ярилцах
Comment[ms]=Bercakap dengan orang di Internet
Comment[nb]=Snakk med andre over internett
Comment[ne]=इन्टरनेटबाट मानिसहरुसंग कुरा गर
Comment[nl]=Praat met mensen via het internet
Comment[no]=Snakk med andre over internett
Comment[pa]=ਇੰਟਰਨੈਟ ਉੱਪਰ ਲੋਕਾਂ ਨਾਲ ਗੱਲਬਾਤ ਕਰੋ
Comment[pl]=Rozmowy z ludźmi poprzez Internet
Comment[pt]=Fale com pessoas através da Internet
Comment[pt_BR]=Converse com pessoas através da internet
Comment[ro]=Vorbeşte cu oamenii prin Internet
Comment[ru]=Живое общение по Интернету
Comment[sq]=Flisni me njerëz në Internet
Comment[sr]=Разговарање са људима преко Интерета
Comment[sr@Latn]=Razgovaranje sa ljudima preko Intereta
Comment[sv]=Prata med personer över Internet
Comment[ta]=இணையம் வழியாக நன்பருடன் பேசுங்கள்
Comment[th]=คุยสายกับผู้อื่นผ่านอินเทอร์เน็ต
Comment[tr]=İnternet üzerinden insanlarla konuş
Comment[uk]=Живе спілкування через Інтернет
Comment[vi]=Nói chuyện với mọi người qua Mạng
Comment[xh]=Thetha nabantu kwi-Intanethi
Comment[zh_CN]=通过互联网和朋友谈话
Comment[zh_TW]=透過網路跟別人談話
StartupNotify=true
Exec=gnomemeeting
Icon=gnomemeeting-logo-icon.png
Terminal=false
Type=Application
Categories=GNOME;Application;Network;
