Source: molinux-postinstall
Section: admin
Priority: optional
Maintainer: Roberto Majadas <roberto@hispafuentes.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, cdbs, libglade2-dev, libxml-parser-perl
Standards-Version: 3.6.1

Package: molinux-postinstall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical postinstallation system for Molinux Distro 
 this app startup once time when you enter in the stage2 of the
 installation process. It install the rest of packages and config
 the rest of your system
