Package: hermes
Version: 0-1
Section: utils
Priority: optional
Architecture: i386
Depends: python, libnotify0, notification-daemon
Installed-Size: 500
Maintainer: Carlos Parra Camargo <cparra@emergya.info>
Description: detección y soporte de dispositivos
 el sistema de detección de hardware engloba tanto las tareas de detección
 y soporte de dispositivos, como aquellas que tienen que ver con la
 configuración de los mismos y la interacción con el usuario.
