#!/bin/sh
set -e
. /usr/share/debconf/confmodule

package=eagle-usb
configfile=/etc/${package}/setvars

#FIXME: take skeleton of a state machine in debconf-devel(7)
#db_capb backup

################################################
# Load config file, if it exists.
if [ -e ${configfile} ]; then
    . ${configfile} || true

    # Store values from config file into debconf db.
    #db_set ${package}/ISP			ISP
    db_set ${package}/VPI			"${VPI}"
    db_set ${package}/VCI			"${VCI}"
    #db_set ${package}/Encapsulation		ENC
    db_set ${package}/Linetype			"${LINETYPE}"
    db_set ${package}/static_ip			"${STATIC_IP}"
    #db_set ${package}/update_dns		UPDATE_DNS
    db_set ${package}/dsl_login			"${ISP_LOGIN}"
    db_set ${package}/dsl_passwd		"${ISP_PWD}"
    #db_set ${package}/dsl_encrypt_passwd	PWD_ENCRYPT
    #db_set ${package}/autostart		START_ON_BOOT
    #db_set ${package}/use_testconnec		USE_TESTCONNEC
fi

################################################
# Ask questions.

db_input low eagle-usb/ISP || true 
db_go || true 

db_beginblock 
db_get eagle-usb/ISP 
case $RET in
    'Algeria              Wanadoo')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Argentina            Speedy')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Austria              *')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000030
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Austria              AON')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Austria              Telstra')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Belgium              ADSL Office')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Belgium              Belgacom')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Belgium              Tiscali')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Belgium              Turboline')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Brazil               Rio Grande do Sul')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Brazil               Speedy Telefonica')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Brazil               Turbo Brasil Telecom')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Brazil               Velox Telemar')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000021
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Bulgaria             BTC isdn')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Bulgaria             BTC pots')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Beijing')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Changchun')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Harbin')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Hunan')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Jilin')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000027
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Lanzhou')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Netcom Tianjin')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    "China                China Netcom Xi'an")
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Chongqing')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Fujian')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000200
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Guangxi')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Guangzhou')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Hangzhou')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Nanjing')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Shanghai')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000051
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Shenzhen')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Urumqi')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Wuhan')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Yunnan')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'China                China Telecom Zhuhai')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Czech Republic       Cesky Telecom')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000048
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Denmark              *')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000065
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Egypt                Raya Telecom')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000050
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Finland              Sonera')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000064
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Cegetel ADSL 512')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Cegetel ADSL Max')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Club-Internet')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Free degroupe')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000024
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Free non degroupe')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Tele2')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Tiscali 128k')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Tiscali 512k')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               Wanadoo')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'France               n9uf tel9com')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Germany              1&1')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Germany              Deutsche Telekom')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Greece               *')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Hungary              Matav')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Ireland              *')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Israel               Bezeq')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000030
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Italy                Alice dynamic IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Italy                Alice static IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Italy                Libero')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Italy                Tiscali')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Lithuania            Lietuvos Telekomas')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Mauritius            Wanadoo')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Morocco              Maroc Telecom')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Netherlands          Eager Telecom')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000021
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Netherlands          KPN')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000030
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Netherlands          Tiscali')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000022
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Netherlands          Versatel')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Poland               Netia Neostrada')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Poland               TPSA Telekomunikacja Polska')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Portugal             Portugal Telecom')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Russia Federation    MTU-Intel')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000050
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Slovenia             SiOL')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Arrakis')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Auna')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Communitel')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000021
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Euskatel')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Telefonica dynamic IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Telefonica static IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Tiscali')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Uni2')
        db_set eagle-usb/VPI 00000001
        db_set eagle-usb/VCI 00000021
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Wanadoo dynamic IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Wanadoo static IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                Wanadoo/Eresmas Retevision')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                ya.com dynamic IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Spain                ya.com static IP')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000020
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Sweden               Telia')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Switzerland          *')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_ROUTED_IP_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Switzerland          BlueWin')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Switzerland          Swisscom')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Switzerland          Tiscali')
        db_set eagle-usb/VPI 00000008
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Thailand             Asianet')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000064
        db_set eagle-usb/Encapsulation MPOA_MODE_BRIDGED_ETH_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'Tunisia              Planet')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000023
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'United Arab Emirates Etisalat')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000032
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_LLC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'United Kingdom       British Telecom')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000026
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    'United Kingdom       Tiscali')
        db_set eagle-usb/VPI 00000000
        db_set eagle-usb/VCI 00000026
        db_set eagle-usb/Encapsulation MPOA_MODE_PPPOA_VC
        db_set eagle-usb/Linetype 00000001
        ;; 
    *) # manual configuration 
        db_input low eagle-usb/VPI || true 
        db_input low eagle-usb/VCI || true 
        db_input low eagle-usb/Encapsulation || true 
        db_input low eagle-usb/Linetype || true 
        ;; 
esac 
db_endblock 
db_go || true 


db_get eagle-usb/Encapsulation 
case $RET in
    "MPOA_MODE_BRIDGED_ETH_"* )
	db_beginblock
	db_input low eagle-usb/dsl_login || true
	db_input low eagle-usb/dsl_passwd || true
	db_input medium eagle-usb/dsl_encrypt_passwd || true
	db_input medium eagle-usb/update_dns || true
	db_endblock
	db_go || true
	;;

    "MPOA_MODE_ROUTED_IP_"* )
	db_input low eagle-usb/static_ip || true
	db_go || true
	db_get eagle-usb/static_ip
	[ -z "$RET" ] && db_set eagle-usb/static_ip none
	db_set eagle-usb/update_dns false
	;;

    "MPOA_MODE_PPPOA_"* )
	db_beginblock
	db_input low eagle-usb/dsl_login || true
	db_input low eagle-usb/dsl_passwd || true
	db_input medium eagle-usb/dsl_encrypt_passwd || true
	db_input medium eagle-usb/update_dns || true
	db_endblock
	db_go || true
	;;
esac

db_input low eagle-usb/autostart || true
db_input low eagle-usb/use_testconnec || true
db_go || true
