Package: uda-postinstall-molinux-branding
Version: 0.21-1
Section: uda
Priority: optional
Architecture: i386
Installed-Size: 2244
Maintainer: Roberto Majadas <roberto@molinux.info>
Source: uda-postinstall
Description: Molinux branding for uda-postinstall
 This package contain the branding for the postinstall environment
 of molinux
