Package: accessrunner-usb-utils
Version: 0.1
Section: misc
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.4-1)
Recommends: accessrunner-usb-source
Installed-Size: 36
Maintainer: Vicente J. Ruiz Jurado <vjrj@tid.es>
Source: accessrunner-usb
Description: This package provide some tools for help in the configuration of
 the accessrunner-usb driver. The accessrunner-usb driver provides support to
 several USB DSL devices for the Linux kernel.
 .
 This package contains utilities needed to configure the accessrunner-usb
 drivers.
