Source: uda-postinstall
Section: uda
Priority: optional
Maintainer: Roberto Majadas <roberto@molinux.info>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, cdbs, autotools-dev, libglade2-dev, libxml-parser-perl
Standards-Version: 3.6.1

Package: uda-postinstall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uda-postinstall-molinux-branding | uda-postinstall-guadalinex-branding
Description: Graphical postinstallation system for Molinux Distro 
 This app startup once time when you enter in the stage2 of the
 installation process. It install the rest of packages and config
 the rest of your system

Package: uda-postinstall-molinux-branding
Architecture: any
Description: Molinux branding for uda-postinstall
 This package contain the branding for the postinstall environment
 of molinux

Package: uda-postinstall-guadalinex-branding
Architecture: any
Description: Guadalinex branding for uda-postinstall
 This package contain the branding for the postinstall environment
  of guadalinex
