Package: uda-postinstall-guadalinex-branding
Version: 0.21-1
Section: uda
Priority: optional
Architecture: i386
Installed-Size: 756
Maintainer: Roberto Majadas <roberto@molinux.info>
Source: uda-postinstall
Description: Guadalinex branding for uda-postinstall
 This package contain the branding for the postinstall environment
  of guadalinex
