DISPLAY isolinux.txt
PROMPT 1
TIMEOUT 0
LABEL linux
  kernel /install/vmlinuz  
  append preseed/file=/cdrom/preseed/uda.seed languagechooser/language-name=Spanish countrychooser/shortlist=ES kbd-chooser/method=EspaA±ol vga=normal initrd=/install/initrd.gz ramdisk_size=12288 root=/dev/rd/0 rw --
LABEL testcd
  kernel /install/vmlinuz
  append preseed/file=/cdrom/preseed/uda-check.seed languagechooser/language-name=Spanish countrychooser/shortlist=ES kbd-chooser/method=EspaA±ol vga=normal initrd=/install/initrd.gz ramdisk_size=12288 root=/dev/rd/0 rw --
LABEL expert
  kernel /install/vmlinuz
  append   DEBCONF_PRIORITY=low vga=normal initrd=/install/initrd.gz ramdisk_size=12288 root=/dev/rd/0 rw --
LABEL rescue
  kernel /install/vmlinuz
  append  rescue/enable=true vga=normal initrd=/install/initrd.gz ramdisk_size=12288 root=/dev/rd/0 rw --
LABEL multiseat
  kernel /install/vmlinuz
  append   anna/choose_modules=multiseat-udeb vga=normal initrd=/install/initrd.gz ramdisk_size=12288 root=/dev/rd/0 rw --
F1 f1.txt
F2 f2.txt
F3 f3.txt
F4 f4.txt
F5 f5.txt
F6 f6.txt
F7 f7.txt
