[Desktop Entry]
Encoding=UTF-8
Name=FireStarter
Name[es]=Cortafuegos (FireStarter)
Comment=Manage the Linux firewall
Comment[es]=Administre las reglas del cortafuegos de Linux
Exec=firestarter
Terminal=false
Type=Application
Icon=firestarter.png
Categories=Application;Network
StartupNotify=true
