[Desktop Entry]
Encoding=UTF-8
Name=Guadalinex Express
Name[es]=Instalador de Guadalinex
GenericName[es]=Instalador de Guadalinex 2005
Comment[es]=Instalación de Guadalinex 2005 en disco (Guadalinex Express)
Exec=/usr/bin/ubuntu-express
Icon=gnome-settings-default-applications
Terminal=false
Type=Application
Categories=GTK;System
StartupNotify=true
