[Desktop Entry]
Encoding=UTF-8
Name=gxine
Comment=A free video player
Exec=gxine
Icon=/usr/share/gxine/pixmaps/gxine-icon.xpm
Terminal=false
Type=Application
Categories=Application;AudioVideo;Video;
