[Desktop Entry]
Encoding=UTF-8
Name=Sintetizador de música y muestras (SoundTracker)
Exec=soundtracker
Icon=gnome-grecord.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;
