# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Smb4K
GenericName=The SMB/CIFS Share Browser
GenericName[bg]=Самба ресурсен четец
GenericName[ca]=El navegador de compartits SMB/CIFS
GenericName[cs]=Prohližeč SMB/CIFS sdílení
GenericName[de]=Der Browser für SMB/CIFS-Freigaben
GenericName[es]=El explorador de recursos compartidos SMB/CIFS
GenericName[fr]=L'explorateur de partages SMB / CIFS
GenericName[hu]=Az SMB/CIFS böngésző
GenericName[it]=Browser di condivisioni SMB/CIFS
GenericName[ja]=SMB/CIFS 共有(シェア)・ブラウザー
GenericName[no]=SMB/CIFS ressurs utforsker
GenericName[no_NY]=SMB/CIFS ressurs surfar
GenericName[pl]=Przeglądarka Zasobów SMB/CIFS
GenericName[pt_BR]=O navegador de compartilhamentos SMB/CIFS
GenericName[ru]=The SMB/CIFS Share Browser
GenericName[sk]=Prehliadač SMB/CIFS zdieľaní
GenericName[sv]=SMB Katalog programmed
GenericName[tr]=The SMB/CIFS Share Browser
GenericName[uk]=Навігатор спільних ресурсів SMB/CIFS
GenericName[zh_CN]=SMB 共享浏览器
#
# The following lines seem to be necessary for SuSE.
#
Name[bg]=Smb4K
Name[ca]=Smb4K
Name[cs]=Smb4K
Name[de]=Smb4K
Name[es]=Explorador de carpetas compartidas (Smb4K)
Name[fr]=Smb4K
Name[hu]=Smb4K
Name[it]=Smb4K
Name[ja]=Smb4K
Name[no]=Smb4K
Name[no_NY]=Smb4K
Name[pl]=Smb4K
Name[pt_BR]=Smb4K
Name[ru]=Smb4K
Name[sk]=Smb4K
Name[sv]=Smb4K
Name[tr]=Smb4K
Name[uk]=Smb4K
Name[zh_CN]=Smb4K
Comment=The SMB/CIFS Share Browser
Comment[bg]=Самба ресурсен четец
Comment[ca]=El navegador de compartits SMB/CIFS
Comment[cs]=Prohližeč SMB/CIFS sdílení
Comment[de]=Der Browser für SMB/CIFS-Freigaben
Comment[es]=El explorador de recursos compartidos SMB/CIFS
Comment[fr]=L'explorateur de partages SMB / CIFS
Comment[hu]=Az SMB/CIFS böngésző
Comment[it]=Browser di condivisioni SMB/CIFS
Comment[ja]=SMB/CIFS 共有(シェア)・ブラウザー
Comment[no]=SMB/CIFS ressurs utforsker
Comment[no_NY]=SMB/CIFS ressurs surfar
Comment[pl]=Przeglądarka Zasobów SMB/CIFS
Comment[pt_BR]=O navegador de compartilhamentos SMB/CIFS
Comment[ru]=The SMB/CIFS Share Browser
Comment[sk]=Prehliadač SMB/CIFS zdieľaní
Comment[sv]=SMB Katalog programmed
Comment[tr]=The SMB/CIFS Share Browser
Comment[uk]=Навігатор спільних ресурсів SMB/CIFS
Comment[zh_CN]=SMB 共享浏览器
Exec=smb4k 
Icon=/usr/share/icons/crystalsvg/64x64/apps/smb4k.png
DocPath=smb4k/index.html
Type=Application
Terminal=0
Categories=Application;System;
