Package: accessrunner-usb-source
Version: 0.1
Section: misc
Priority: optional
Architecture: all
Depends: module-assistant, bzip2, debhelper (>= 4.0.0)
Suggests: accessrunner-usb-utils
Installed-Size: 52
Maintainer: Vicente J. Ruiz Jurado <vjrj@tid.es>
Source: accessrunner-usb
Description: Source for the accessrunner-usb driver. The accessrunner-usb
 driver provides support to several USB DSL devices for the Linux kernel.
 .
 This package contains the module source. The kernel driver can be built from
 it using module-assistant or make-kpkg.
