[Desktop Entry]
Encoding=UTF-8
Name=Alacarte Menu Editor
Name[de]=Alacarte Menü Editor
Name[es]=Editor de Menús (Alacarte)
Name[fr]=Editeur de Menu Alacarte
Name[nb]=Alacarte menybehandler
Name[nl]=Alacarte menu Editor
Name[no]=Alacarte menybehandler
Comment=Simple fd.o Compliant Menu Editor
Comment[de]=Einfacher fd.o-konformer Menü Editor
Comment[es]=Editor de menús conforme a freedesktop.org
Comment[fr]=Editeur de Menu simple et conforme à fd.o
Comment[nb]=Enkel fd.o-kompatibel menyredigerer
Comment[nl]=Simpele fd.o Conformerend Menu editor
Comment[no]=Enkel fd.o-kompatibel menyredigerer
Exec=alacarte
Icon=gnome-main-menu
NotShowIn=KDE;
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Utility;
