[Desktop Entry]
Encoding=UTF-8
Name=Tomboy
Name[es]=Notas de escritorio (Tomboy)
Comment[es]=Escriba notas en el escritorio
Exec=tomboy
Icon=tomboy
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Utility;
